<html lang="en">

<head>
    {% block meta_head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="author" content="Aziz Arif Rizaldi">
    {% endblock %}

    <title>{{header}} - Deteksi Anemia Pada Remaja Putri</title>

    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" />
    <link rel="icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" type="image/png"
        sizes="16x16">
    <link rel='stylesheet' href='{{base_url()}}template-admin/template/css/vendor/pace.css' />
    <script src='{{base_url()}}template-admin/template/js/pace.min.js'></script>
    {% endblock %}

    {% block css %}
    <!--CSS Template-->
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/atmos.min.css' />

    <!--CSS Vendor-->
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css' />
    <link rel='stylesheet'
        href='{{base_url()}}template-admin/template/css/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css' />
    <link href="{{base_url()}}template-admin/template/css/font/css.css" rel="stylesheet">
    {% endblock %}

    {% block material_icons %}
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/vendor/materialdesignicons.min.css' />
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/feather-icons.css' />
    {% endblock %}
</head>

<body class="jumbo-page">

    <main class="admin-main  bg-pattern">
        <div class="container">
            <div class="row m-h-100 ">
                <div class="col-md-8 col-lg-4  m-auto">
                    <div class="card shadow-lg p-t-20 p-b-20">
                        <div class="card-body text-center">
                            <h5>Ups!</h5>
                            <p class="opacity-75">
                                Halaman yang kamu cari tidak ditemukan
                            </p>
                            <a href='{{base_url()}}' class='btn btn-mini btn-pink'>Kembali ke Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>