<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta_head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="author" content="Aziz Arif Rizaldi">
    {% endblock %}

    <title>{{title}} - Deteksi Anemia Pada Remaja Putri</title>

    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" />
    <link rel="icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" type="image/png" sizes="16x16">
    <link rel='stylesheet' href='{{base_url()}}template-admin/template/css/vendor/pace.css' />
    <script src='{{base_url()}}template-admin/template/js/pace.min.js'></script>
    {% endblock %}

    {% block css %}
    <!--CSS Template-->
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/atmos.min.css' />

    <!--CSS Vendor-->
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css' />
    <link rel='stylesheet'
        href='{{base_url()}}template-admin/template/css/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css' />
    <link href="{{base_url()}}template-admin/template/css/font/css.css" rel="stylesheet">
    <link href="{{base_url()}}template-admin/template/css/vendor/sweetalert2.min.css" rel="stylesheet">
    {% endblock %}

    {% block material_icons %}
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/vendor/materialdesignicons.min.css' />
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/feather-icons.css' />
    {% endblock %}

</head>

<body class="jumbo-page">
    <div class="loader-wrap">
        <div class="loader-content">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <main class="admin-main  bg-pattern">
        <div class="container">
            <div class="row m-h-100 ">
                <div class="col-md-8 col-lg-4  m-auto">
                    <div class="card shadow-lg ">
                        <div class="card-body ">
                            <div class=" padding-box-2 ">                                
                                <div class="text-center ">
                                    <img src="{{base_url()}}template-admin/assets/img/logos/logo.png" style="width:100px">
                                    <p class="small text-center m-t-20">
                                        Oleh : Dhini Wahyuni Novitasari
                                    </p>
                                </div>
                                <hr/>
                                <h3 class="text-center">Login</h3>
                                <form id="loginForm" class="col-md-12 m-t-20" action="{{base_url()}}auth/loginProcess"
                                    method="post">
                                    <div class="form-group">
                                        <div class="input-group input-group-flush mb-3">
                                            <input type="email" class="form-control form-control-prepended" name="username" id="username" placeholder="Email">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span class=" mdi mdi-email "></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group input-group-flush mb-3">
                                            <input type="password" class="form-control form-control-prepended" name="password" id="password" placeholder="Password">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span class=" mdi mdi-lock "></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn text-uppercase btn-block mb-3 btn-pink">
                                            Login
                                        </button>

                                        <p class="small text-center">
                                            Tidak punya akun ? <a href="{{base_url()}}auth/signup"><font color="#e83e8c">Buat Akun</font></a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#loginForm').validate({ // initialize the plugin
                errorClass: "is-invalid",
                errorElement: 'small',
                rules: {
                    username: {
                        required: true,
                    },
                    password: {
                        required: true,
                    }
                },
                messages: {
                    username: {
                        required: "Email tidak boleh kosong!"
                    },
                    password: {
                        required: "Password tidak boleh kosong!"
                    }
                },
                submitHandler: function (form) { // for demo
                    $.ajax({
                        url: $('#loginForm').attr('action'),
                        type: "POST",
                        data: {
                            username        : $("#username").val(),
                            password        : $("#password").val()
                        },
                        dataType: "json",
                        beforeSend: function() {
                            $('.loader-wrap').addClass('show-loading');
                        },
                        success: function (data) {
                            if (data.status) {
                                location.reload();
                            } else {
                                Swal.fire({
                                    type: 'error',
                                    title : "Ups!",
                                    text : data.message,
                                    confirmButtonColor: '#e83e8c',
                                });
                            }
                        },
                        complete: function() {
                            $('.loader-wrap').removeClass('show-loading');
                        }
                    });
                }
            });
        });

    </script>

</body>

</html>