<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta_head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="author" content="Aziz Arif Rizaldi">
    {% endblock %}

    <title>{{title}} - Deteksi Anemia Pada Remaja Putri</title>

    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" />
    <link rel="icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" type="image/png"
        sizes="16x16">
    <link rel='stylesheet' href='{{base_url()}}template-admin/template/css/vendor/pace.css' />
    <script src='{{base_url()}}template-admin/template/js/pace.min.js'></script>
    {% endblock %}

    {% block css %}
    <!--CSS Template-->
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/atmos.min.css' />

    <!--CSS Vendor-->
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css' />
    <link rel='stylesheet'
        href='{{base_url()}}template-admin/template/css/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css' />
    <link href="{{base_url()}}template-admin/template/css/font/css.css" rel="stylesheet">
    <link href="{{base_url()}}template-admin/template/css/vendor/sweetalert2.min.css" rel="stylesheet">
    {% endblock %}

    {% block material_icons %}
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/vendor/materialdesignicons.min.css' />
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/feather-icons.css' />
    {% endblock %}
    
</head>

<body class="jumbo-page">
    <div class="loader-wrap">
        <div class="loader-content">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <main class="admin-main  bg-pattern">
        <div class="container">
            <div class="row m-h-100 ">
                <div class="col-md-8 col-lg-4  m-auto">
                    <div class="card shadow-lg ">
                        <div class="card-body ">
                            <div class=" padding-box-2 ">
                                <div class="text-center">
                                    <img src="{{base_url()}}template-admin/assets/img/logos/logo.png"
                                        style="width:100px">
                                    <p class="small text-center m-t-20">
                                        Oleh : Dhini Wahyuni Novitasari
                                    </p>
                                </div>
                                <hr />
                                <h3 class="text-center">Gabung</h3>
                                <form id="registerForm" class="col-md-12 m-t-20" action="{{base_url()}}auth/saveSignup"
                                    method="post">

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" name="username" class="form-control" id="username"
                                                placeholder="contoh : zaskia@gmail.com">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword4">Password</label>
                                            <input type="password" name="password" class="form-control"
                                                id="password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group col-md-12 m-b-10">
                                            <label for="inputEmail4">Nama Lengkap</label>
                                            <input type="text" name="nama_lengkap" class="form-control" id="nama_lengkap" placeholder="Contoh : Zaskia Amaelia">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn text-uppercase btn-block mb-3 btn-pink">
                                            Daftar
                                        </button>
                                        <p class="small text-center">
                                            Sudah punya akun ? <a href="{{base_url()}}auth">
                                                <font color="#e83e8c">Login</font>
                                            </a>
                                        </p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#registerForm').validate({ // initialize the plugin
                errorClass: "is-invalid",
                errorElement: 'small',
                rules: {
                    username: {
                        required: true,
                    },
                    password: {
                        required: true,
                    },
                    nama_lengkap: {
                        required: true,
                    }
                },
                messages: {
                    username: {
                        required: "Email tidak boleh kosong!"
                    },
                    password: {
                        required: "Password tidak boleh kosong!"
                    },
                    nama_lengkap: {
                        required: "Nama tidak boleh kosong!"
                    },
                },
                submitHandler: function (form) { // for demo
                    $.ajax({
                        url: $('#registerForm').attr('action'),
                        type: "POST",
                        data: {
                            username        : $("#username").val(),
                            password        : $("#password").val(),
                            nama_lengkap    : $("#nama_lengkap").val()
                        },
                        dataType: "json",
                        beforeSend: function() {
                            $('.loader-wrap').addClass('show-loading');
                        },
                        success: function (data) {
                            if (data.status) {
                                Swal.fire({
                                title: "Registrasi Berhasil!",
                                text: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#e83e8c',
                                confirmButtonText: 'OK!'
                                }).then((result) => {
                                    if (result.value) {
                                        location.reload();
                                    }
                                })
                            } else {
                                Swal.fire({
                                    type: 'error',
                                    title : "Ups!",
                                    text : data.message,
                                    confirmButtonColor: '#e83e8c',
                                });
                            }                            
                        },
                        complete: function() {
                            $('.loader-wrap').removeClass('show-loading');
                        }
                    });
                }
            });
        });
    </script>

</body>

</html>