<html>

<head>
    {% block meta_head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="author" content="Aziz Arif Rizaldi">
    {% endblock %}

    <title>{% block additional_title %}{% endblock %} - Deteksi Anemia Pada Remaja Putri</title>

    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" />
    <link rel="icon" href="{{base_url()}}template-admin/assets/img/logos/logo.png" type="image/png" sizes="16x16">
    <link rel='stylesheet' href='{{base_url()}}template-admin/template/css/vendor/pace.css' />
    <script src='{{base_url()}}template-admin/template/js/pace.min.js'></script>
    {% endblock %}

    {% block css %}
    <!--CSS Template-->
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/atmos.min.css' />

    <!--CSS Vendor-->
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css' />
    <link rel='stylesheet'
        href='{{base_url()}}template-admin/template/css/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css' />
    <link href="{{base_url()}}template-admin/template/css/font/css.css" rel="stylesheet">
    <link href="{{base_url()}}template-admin/template/css/vendor/sweetalert2.min.css" rel="stylesheet">
    <link href="{{base_url()}}template-admin/template/css/vendor/date-plugin.css" rel="stylesheet">
    {% endblock %}

    {% block material_icons %}
    <link rel='stylesheet' type='text/css'
        href='{{base_url()}}template-admin/template/css/vendor/materialdesignicons.min.css' />
    <link rel='stylesheet' type='text/css' href='{{base_url()}}template-admin/template/css/vendor/feather-icons.css' />
    {% endblock %}
</head>

<body class="sidebar-pinned ">
    <div class="loader-wrap">
        <div class="loader-content">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    {% block sidebar_content %}
    <aside class="admin-sidebar">
        <div class="admin-sidebar-brand">
            <img class="admin-brand-logo" src="{{base_url()}}template-admin/assets/img/logos/logo.png" width="40"
                alt="atmos Logo">
            <div class="ml-auto">
                <a href="" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
                <a href="" class="admin-close-sidebar"></a>
            </div>
        </div>
        <div class="admin-sidebar-wrapper js-scrollbar">
            <ul class="menu">
                {% for row in uiMenu %}
                <li class="menu-item {{row.url_menu == currentMenu ? 'active':''}} ">
                    <a href="{{base_url()}}{{row.url_menu}}" class="menu-link">
                        <span class="menu-label">
                            <span class="menu-name">{{row.nama_menu}}</span>
                        </span>
                        <span class="menu-icon">
                            <i class="icon-placeholder {{row.class_icon}}"></i>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
    {% endblock %}

    <main class="admin-main">
        <header class="admin-header">
            <a href="" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>
            <nav class=" mr-auto my-auto">
                <ul class="nav align-items-center">
                </ul>
            </nav>
            <nav class=" ml-auto">
                <ul class="nav align-items-center">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-sm avatar-online">
                                <span class="avatar-title rounded-circle bg-pink">{{sessionData.initialName}}</span>
                            </div>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right">
                            {% if sessionData.id_role == '3' %}
                                <a class="dropdown-item" href="{{base_url()}}home/profile"> Profil</a>                            
                            {% endif %}                            
                            <a class="dropdown-item" onclick="modalChangePass()" href="#"> Ganti Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{base_url()}}auth/logout"> Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="admin-content">
            {% block main_content %}
            {% endblock %}
        </section>

        <div class="modal fade " id="modalBiodata" data-backdrop="static" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="px-3 pt-3 text-center">
                            <div class="event-type bg-pink">
                                <div class="event-indicator ">
                                    <i class="mdi mdi-account-alert text-white" style="font-size: 30px"></i>
                                </div>
                            </div>
                            <h3 class="pt-3">Hei {{sessionData.name}}</h3>
                            <p class="text-muted">
                                Data kamu belum lengkap<br />
                                Untuk bisa melanjutkan silahkan lengkapi data terlebih dahulu ya!
                            </p>

                        </div>
                        <a href="{{base_url()}}home/profile" class="btn btn-pink btn-block btn-lg">Yuk lengkapi data
                            📝</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div class="modal fade " id="modalPassword" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <form id="forgotForm" class="col-md-12 m-t-20" action="{{base_url()}}general/changePassword" method="post">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-body">
                        <div class="px-3 pt-3 text-center">
                            <div class="event-type bg-pink">
                                <div class="event-indicator ">
                                    <i class="mdi mdi-lock text-white" style="font-size: 30px"></i>
                                </div>
                            </div>
                            <h5 class="pt-3">Ganti Password</h5>
                            <div class="form-row m-t-10">
                                <div class="form-group col-md-12">
                                    <input type="password" id="password_lama" name="password_lama" class="form-control"
                                        placeholder="Password lama">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="password" id="password_baru" name="password_baru" class="form-control"
                                        placeholder="Password Baru">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="password" id="password_baru_ulang" name="password_baru_ulang"
                                        class="form-control" placeholder="Ulang Password Baru">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-pink btn-block">Ganti Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% block vendor_js %}
    <script src='{{base_url()}}template-admin/template/js/9556cd6744b0b19628598270bd385082cda6a269.js'></script>
    <script src='{{base_url()}}template-admin/template/js/apexcharts.min.js'></script>
    <script src='{{base_url()}}template-admin/template/js/dashboard-01.js'></script>
    <script src='{{base_url()}}template-admin/template/js/date-plugin.js'></script>
    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}template-admin/template/js/sweetalert2.min.js"></script>
    {% endblock %}

    <script>
        function modalChangePass() {
            $("#modalPassword").modal('show');
        }

        showModalBiodata();

        function showModalBiodata() {
            var role = "{{sessionData.id_role}}";
            var currentPage = 'profile';
            if(role == '3') {
                if (currentPage != '{{currentPage}}') {
                    var checkData = "{{checkData}}";
                    if (checkData < 2) {
                        setTimeout(() => {
                            $("#modalBiodata").modal("show");
                        }, 100);
                    }
                }
            }
        }

        function validate(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

        function decimal(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /^[0-9]*\.?[0-9]*$/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>

    <script>
        $('#forgotForm').validate({ // initialize the plugin
            errorClass: "is-invalid",
            errorElement: 'small',
            rules: {
                password_lama: {
                    required: true,
                },
                password_baru: {
                    required: true,
                },
                password_baru_ulang: {
                    required: true,
                },
            },
            messages: {
                password_lama: {
                    required: "Password lama harus diisi!"
                },
                password_baru: {
                    required: "Password baru harus diisi!"
                },
                password_baru_ulang: {
                    required: "Ulang password harus diisi!"
                }
            },
            submitHandler: function (form) { // for demo
                $.ajax({
                    url: $('#forgotForm').attr('action'),
                    type: "POST",
                    data: {
                        password_lama: $("#password_lama").val(),
                        password_baru: $("#password_baru").val(),
                        password_baru_ulang: $("#password_baru_ulang").val(),
                    },
                    dataType: "json",
                    beforeSend: function () {
                        $('.loader-wrap').addClass('show-loading');
                    },
                    success: function (data) {
                        if (data.status) {
                                Swal.fire({
                                title: "Berhasil!",
                                text: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#e83e8c',
                                confirmButtonText: 'OK!'
                                }).then((result) => {
                                    if (result.value) {
                                        location.href = '{{base_url()}}auth/logout';
                                    }
                                })
                        } else {
                            Swal.fire({
                                type: 'error',
                                title: "Ups!",
                                text: data.message,
                                confirmButtonColor: '#e83e8c',
                            });
                        }
                    },
                    complete: function () {
                        $('.loader-wrap').removeClass('show-loading');
                    }
                });
            }
        });
    </script>

    {% block custom_js %}{% endblock %}
</body>

</html>