{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<div class=" bg-olle m-b-30 bg-pink">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 m-auto text-white p-t-40 p-b-90">
                <h3><span class="">Data {{title}}</h3>
                <div class="row">
                    <nav aria-label="breadcrumb text-white">
                        <ol class="breadcrumb m-b-0 bg-transparent">
                            <li class="breadcrumb-item"><a href="{{base_url()}}">Beranda</a></li>
                            <li class="breadcrumb-item" aria-current="page">{{title}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row">
        <div class="col-lg-12 mx-auto ">
            <div class="card py-3 m-b-30">
                <div class="card-header inline">
                    <h5 class="m-b-0">
                        Data {{title}}
                    </h5>
                    <p class="m-b-0 text-muted">
                        Berikut ini merupakan dari {{title}}
                    </p>
                    <div style="float:right;margin-top:-40px">
                        <button class="btn btn-pink" type="button" onclick="tambahData()"><i class="fe fe-user-plus"></i> Tambah Data</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example">
                            <thead>
                                <tr>
                                    <th style="width:3%"><small>No</small></th>
                                    <th style="width:20%"><small>Nama Lengkap</small></th>
                                    <th style="width:20%"><small>Email</small></th>
                                    <th style="width:20%"><small>Nomor Handphone</small></th>
                                    <th style="width:10%"><small>Status</small></th>
                                    <th style="width:20%"><small>Action</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in getData %}
                                <tr>
                                    <td class="text-center"><small>{{loop.index}}</small></td>
                                    <td><small>{{item.nama_lengkap}}</small></td>
                                    <td><small>{{item.username}}</small></td>
                                    <td><small>{{item.nohp}}</small></td>
                                    {% if item.status == '1' %}
                                        <td><small>
                                            <span class="badge badge-soft-success">Aktif</span>                                        
                                        </small></td>                                        
                                    {% else %}
                                        <td><small>
                                            <span class="badge badge-soft-danger">Belum verifikasi</span>                                        
                                        </small></td>                                                                                
                                    {% endif %}
                                    <td>
                                        <small>
                                            <button class="btn btn-pink btn-sm" type="button" onclick="ubahData({{item.id}})"><i class="fe fe-edit"></i> Ubah</button>
                                            <button class="btn btn-secondary btn-sm" type="button" onclick="hapusData({{item.id}})"><i class="fe fe-trash"></i> Hapus</button>                                            
                                        </small>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
    function hapusData(id) {
        Swal.fire({
            title: 'Hapus data ?',
            text: "Data yang sudah dihapus tidak dapat dikembalikan",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#e83e8c',
            cancelButtonColor: '#95aac9',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "{{base_url()}}general/hapusRemaja",
                    type: "POST",
                    data: {
                        id : id
                    },
                    dataType: "json",
                    beforeSend: function() {
                        $('.loader-wrap').addClass('show-loading');
                    },
                    success: function (data) {
                        if (data.status) {
                            Swal.fire({
                                title: "Berhasil!",
                                text: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#e83e8c',
                                confirmButtonText: 'OK!'
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                type: 'error',
                                title : "Ups!",
                                text : data.message,
                                confirmButtonColor: '#e83e8c',
                            });
                        }
                    },
                    complete: function() {
                        $('.loader-wrap').removeClass('show-loading');
                    }
                });
            }
        })
    }

    function tambahData() {
        location.href="{{base_url()}}page/formRemaja";
    }

    function ubahData(id) {
        location.href="{{base_url()}}page/formRemaja/"+id;
    }
</script>
{% endblock %}