{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<div class=" bg-pink m-b-30 bg-stars">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-auto text-white text-center p-t-20 p-b-90">
                <h1><span class=""></h1>
                <p class="opacity-80"></p>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row">
        <div class="{{checkHB > 0 ? 'col-lg-6':'col-lg-12'}} m-b-30">
            <div class="card shadow-lg">
                <div class="">
                    <div class="p-t-30 p-b-10 text-center">
                    {% if checkHB == '0' %}
                        <h5 class="text-center p-b-20 p-l-10 p-r-10">kamu belum pernah melakukan cek tanda gejala</h5>                                                
                        <img class="p-b-20 n-l-10 p-r-10" style="width:250px" src="{{base_url()}}template-admin/assets/img/women-check.svg">
                    {% else %}
                        <h5 class="text-center p-b-20 p-l-10 p-r-10">Analisa Tanda Gejala</h5>      
                        <img class="p-b-20 n-l-10 p-r-10" style="width:250px" src="{{base_url()}}template-admin/assets/img/women-check.svg"><br/>
                        {% if status == 0 %}
                            <small class="is-note">Kamu sudah melakukan cek tanda gejala di minggu ini</small><br/>                                          
                            <small class="is-note">Sisa waktu <b>{{sisa_hari}} hari lagi</b> untuk melakukan cek tanda gejala</small>                                          
                        {% endif %}                        
                    {% endif %}
                    </div>

                    {% if checkHB == '0' %}
                    <div class="bg-pink rounded-bottom card-body text-white">
                        <p class="opacity-80 text-center"> Untuk melakukan cek tanda gejala bisa klik dibawah ini ya! </p>
                        <a href="#" onclick="showModal()" class="btn btn-pink-translucent btn-block btn-lg">Yuk cek
                            disini 📝</a>
                    </div>                        
                    {% else %}
                        {% if status == 0 %}
                        <div class="bg-pink rounded-bottom card-body text-white">
                            <p class="opacity-80 text-center"> Untuk melihat riwayat cek tanda gejala bisa klik dibawah ini ya!</p>
                            <a href="{{base_url()}}page/riwayatTandaGejala" class="btn btn-pink-translucent btn-block btn-lg">Lihat riwayat 📝</a>
                        </div>
                        {% else %}
                        <div class="bg-pink rounded-bottom card-body text-white">
                            <p class="opacity-80 text-center"> Untuk melakukan cek tanda gejala bisa klik dibawah ini ya! </p>
                            <a href="#" onclick="showModal()" class="btn btn-pink-translucent btn-block btn-lg">Yuk cek
                                disini 📝</a>
                        </div>                        
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-b-30 {{checkHB < 1 ? 'd-none':''}}">
            <div class="card shadow-lg">
                <div class="">
                    <div class="p-t-30 p-b-10 text-center">
                        <h5 class="text-center p-b-20 p-l-10 p-r-10">Monitoring Asuhan Rematri</h5>
                        <img class="p-b-20 n-l-10 p-r-10" style="width:298px;{{status == '0' ? 'margin-top:35px':''}}" src="{{base_url()}}template-admin/assets/img/women-result.svg"><br/>
                    </div>

                    <div class="bg-pink rounded-bottom card-body text-white">
                        <p class="opacity-80 text-center">
                            Untuk melakukan monitoring rematri, kamu bisa klik dibawah ini ya!
                        </p>
                        <a href="{{base_url()}}page/monitoringRematri" class="btn btn-pink-translucent btn-block btn-lg">Yuk isi disini
                            ✍️</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modalConfirmation" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="px-3 pt-3 text-center">
                    <div class="event-type bg-pink">
                        <div class="event-indicator ">
                            <i class="mdi mdi-heart-pulse text-white" style="font-size: 30px"></i>
                        </div>
                    </div>
                    <h3 class="pt-3">Mau cek tanda gejala ?</h3>
                    <p class="text-muted">
                        Silahkan klik button dibawah ini ya
                    </p>
                </div>

                <button type="submit" class="btn btn-pink btn-block" onclick="lanjutkan()">Lanjutkan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modalKuisioner" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="numberKuisioner">Pertanyaan ke 1</h5>
                <input type="hidden" name="nomor" id="nomor" />
            </div>
            <div class="modal-body">
                <h4 class="text-center" id="pertanyaan">Apakah anda suka sarapan pagi?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="selanjutnya('iya')" class="btn btn-pink col-md-6">Iya</button>
                <button type="button" onclick="selanjutnya('tidak')" class="btn btn-pink col-md-6">Tidak</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modalCekHB" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3 pt-3 text-center">
                    <div class="event-type bg-pink">
                        <div class="event-indicator ">
                            <i class="mdi mdi-heart-pulse text-white" style="font-size: 30px"></i>
                        </div>
                    </div>
                    <h5 class="pt-3">Silahkan masukan hasil cek HB kamu</h5>
                    <div class="form-row m-t-10">
                        <div class="form-group col-md-12">
                            <input type="text" id="hasil_cek_hb" onkeypress='decimal(event)' class="form-control"
                                placeholder="Contoh : 11.5" onkeyup="changeHB()">
                        </div>
                    </div>
                    <button type="button" disabled class="btn btn-pink btn-block" id="btnHasil"
                        onclick="lihatHasil()">Lihat Hasil</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal() {
        $("#modalConfirmation").modal("show");
    }

    function lanjutkan() {
        var number = 0;
        $.ajax({
            type: "GET",
            url: "{{base_url()}}home/checkKuisioner",
            data: number,
            dataType: "json",
            beforeSend: function () {
                $('.loader-wrap').addClass('show-loading');
            },
            success: function (data) {
                $("#modalConfirmation").modal("hide");
                $("#numberKuisioner").html("#" + data.nomor);
                $("#pertanyaan").html(data.pertanyaan);
                $("#nomor").val(data.nomor);
                $("#modalKuisioner").modal("show");
            },
            complete: function () {
                $('.loader-wrap').removeClass('show-loading');
            }
        });
    }

    function selanjutnya(params) {
        var nomor = $("#nomor").val();
        $.ajax({
            type: "GET",
            url: "{{base_url()}}home/saveKuisioner",
            data: {
                params: params,
                nomor: nomor
            },
            dataType: "json",
            beforeSend: function () {
                $('.loader-wrap').addClass('show-loading');
            },
            success: function (data) {
                if (data.finish == '1') {
                    $("#modalKuisioner").modal("hide");
                    $("#modalCekHB").modal("show");
                } else {
                    $("#numberKuisioner").html("#" + data.nomor);
                    $("#pertanyaan").html(data.pertanyaan);
                    $("#nomor").val(data.nomor);
                }
            },
            complete: function () {
                $('.loader-wrap').removeClass('show-loading');
            }
        });
    }

    function changeHB(event) {
        var hasil_cek_hb = $("#hasil_cek_hb").val();
        if (hasil_cek_hb) {
            $("#btnHasil").removeAttr("disabled");
        } else {
            $("#btnHasil").attr("disabled", true);
        }
    }

    function lihatHasil() {
        var hasil_cek_hb = $("#hasil_cek_hb").val();
        $.ajax({
            type: "POST",
            url: "{{base_url()}}home/saveHasil",
            data: {
                hasil_cek_hb: hasil_cek_hb
            },
            dataType: "json",
            beforeSend: function () {
                $('.loader-wrap').addClass('show-loading');
            },
            success: function (data) {
                if (data.status) {
                    let timerInterval
                    Swal.fire({
                        title: 'Harap tunggu ...',
                        timer: 5000,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                            timerInterval = setInterval(() => {
                                Swal.getContent().querySelector('b')
                                    .textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        onClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        if (
                            result.dismiss === Swal.DismissReason.timer
                        ) {
                            location.href = "{{base_url()}}home/result/"+data.token;
                        }
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: "Gagal menyimpan hasil!",
                        text: data.message,
                        confirmButtonColor: '#e83e8c',
                    });
                }
            },
            complete: function () {
                $('.loader-wrap').removeClass('show-loading');
            }
        });
    }
</script>
{% endblock %}