{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<div class=" bg-dark m-b-30 bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-white p-b-30">

            </div>
            <div class="col-md-12 m-auto text-white p-t-40 p-b-50">
            </div>
        </div>
    </div>
</div>

<div class="container  pull-up">
    <div class="row">

        <div class="col-lg-7 col-md-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="text-center">Grafik</h5>
                    <div class="text-center text-overline" id="monitoring_text">Monitoring Asuhan Rematri</div>
                    <div id="chart-monitoring"></div>
                    <div id="empty_state" style="display:none">
                        <div class="p-t-30 p-b-10 text-center">
                            <img class="p-b-20 n-l-10 p-r-10" style="width:400px;margin-top:4px" src="{{base_url()}}template-admin/assets/img/women-result.svg"><br/>
                            <h5 class="text-center p-b-20 p-l-10 p-r-10">Data belum tersedia</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-5 col-md-12 m-b-30">
            <div class="card card-hover m-b-30">
                <div class="card-body">
                    <h5 class="text-center">Grafik</h5>
                    <div class="text-center text-overline">Kategori Anemia</div>
                    <div id="chart-kategori"></div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block custom_js %}
<script>
    function donutChart(result) {
        var options = {
            chart: {
                type: "donut"
            },
            series: $.parseJSON(result.series),
            labels: $.parseJSON(result.labels),
            legend: {
                position: "bottom",
                horizontalAlign: "center",
                floating: true,
                offsetY: 0,
                offsetX: -5
            }
        };
        var chart = new ApexCharts(document.querySelector("#chart-kategori"), options);
        chart.render()
    }

    getMonitoring();
    function getMonitoring() {
        $.ajax({
            url         : "{{base_url()}}general/grafikMonitoring",
            type        : 'GET',
            dataType    : 'json',
            success: function(data){
                $("#monitoring_text").text("Monitoring Asuhan Rematri - Periode "+data.bulan);
                if(data.showData) {
                    chartBar(data);
                }
                else {
                    $("#empty_state").show();
                }
            },
        });
    }
    
    function chartBar(result) {
        var options = {
            colors: [colors[1]],
            chart: {
                height: 400,
                type: "bar"
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: "25%"
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 1,
                colors: ["transparent"]
            },
            series: [
            {
                name: "Jumlah",
                data: $.parseJSON(result.data)
            }
            ],
            xaxis: {
                categories: $.parseJSON(result.categories)
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + " Data"
                    }
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#chart-monitoring"), options);
        chart.render()
    }

    getAnemia();
    function getAnemia() {
        $.ajax({
            url         : "{{base_url()}}general/grafikAnemia",
            type        : 'GET',
            dataType    : 'json',
            success: function(data){
                donutChart(data);
            },
        });
    }

</script>
{% endblock %}