{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<div class=" bg-pink m-b-30 bg-stars">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 m-auto text-center text-white p-t-40 p-b-90">
                <h3><span class="">{{title}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row">
        <div class="col-lg-12 mx-auto ">
            <div class="card py-3 m-b-30">
                <div class="card-header">
                    <div class="text-center">
                        <button type="button" onclick="tambahMonitoring()"
                            class="btn btn-pink col-sm-12 col-md-6">Tambah Monitoring</button>
                    </div>
                </div>

                <div class="text-center m-t-20 card-body {{getData | length == 0 ? '':'d-none'}}">
                    <img class="p-b-20 n-l-10 p-r-10" style="width:250px" src="{{base_url()}}template-admin/assets/img/nodata.svg">
                    <h5 class="text-center m-t-20">kamu belum mempunyai data monitoring rematri</h5>                                                
                </div>                

                <div class="card-body {{getData | length > 0 ? '':'d-none'}}">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example">
                            <thead>
                                <tr>
                                    <th style="width:3%" class="text-center"><small>No</small></th>
                                    <th style="width:35%"><small>Tanggal</small></th>
                                    <th style="width:35%"><small>Jam</small></th>
                                    <th style="width:55%"><small>Keterangan</small></th>
                                    <th style="width:5%"><small>Action</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in getData %}
                                <tr>
                                    <td><small>{{loop.index}}</small></td>
                                    <td><small>{{item.tanggal | date("d-m-Y")}}</small></td>
                                    <td><small>{{item.jam}}</small></td>
                                    <td><small>{{item.keterangan}}</small></td>
                                    <td><i style="cursor:pointer" onclick="editData('{{item.id}}')"
                                            data-toggle="tooltip" data-placement="bottom" title=""
                                            data-original-title="Edit Data" class="mdi mdi-pencil-box-outline"></i></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMonitoring" tabindex="-1" role="dialog" aria-labelledby="modalMonitoringTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
        <form id="monitoringForm" class="col-md-12 m-t-20" action="{{base_url()}}page/saveMonitoring" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMonitoringTitle">Tambah Monitoring Asuhan Rematri</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <input type="hidden" name="id" value="" id="id" />
                        <div class="form-group col-md-12">
                            <label for="inputTanggal">Tanggal Rematri</label>
                            <input class="form-control datedropper" data-theme="leaf" type="text" data-large-mode="true"
                                readonly name="tanggal" id="tanggal">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputTanggal">Jam Rematri</label>
                            <input type="text" name="jam" id="jam" class="form-control" data-mask="00:00:00"
                                data-mask-clearifnotmatch="true" placeholder="00:00:00" />
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Keterangan Rematri</label>
                            <textarea rows="3" class="form-control" placeholder="Keterangan" name="keterangan"
                                id="keterangan"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer col-md-12">
                    <button type="submit" class="btn btn-pink col-md-6">Simpan</button>
                    <button id="btnHapus" type="button" onclick="hapusData()"
                        class="btn btn-secondary col-md-6">Hapus</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script>
    function tambahMonitoring() {
        $("#modalMonitoringTitle").text("Tambah Monitoring Asuhan Rematri");
        $("#id").val("");
        $("#jam").val("");
        $("#keterangan").val("");
        $("#modalMonitoring").modal('show');
        $("#btnHapus").hide();
    }

    $(document).ready(function () {

        $('#monitoringForm').validate({ // initialize the plugin
            errorClass: "is-invalid",
            errorElement: 'small',
            rules: {
                tanggal: {
                    required: true,
                },
                jam: {
                    required: true,
                }
            },
            messages: {
                tanggal: {
                    required: "Tanggal tidak boleh kosong!"
                },
                jam: {
                    required: "jam tidak boleh kosong!"
                }
            },
            submitHandler: function (form) { // for demo
                $.ajax({
                    url: $('#monitoringForm').attr('action'),
                    type: "POST",
                    data: {
                        tanggal: $("#tanggal").val(),
                        jam: $("#jam").val(),
                        keterangan: $("#keterangan").val(),
                        id: $("#id").val(),
                    },
                    dataType: "json",
                    beforeSend: function () {
                        $('.loader-wrap').addClass('show-loading');
                    },
                    success: function (data) {
                        if (data.status) {
                            Swal.fire({
                                title: "Berhasil!",
                                text: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#e83e8c',
                                confirmButtonText: 'OK!'
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                type: 'error',
                                title: "Ups!",
                                text: data.message,
                                confirmButtonColor: '#e83e8c',
                            });
                        }
                    },
                    complete: function () {
                        $('.loader-wrap').removeClass('show-loading');
                    }
                });
            }
        });
    });

    function editData(id) {
        $("#modalMonitoringTitle").text("Ubah Monitoring Asuhan Rematri");
        $("#btnHapus").show();
        $.ajax({
            url: "{{base_url()}}page/getMonitoring",
            data: {
                id: id
            },
            type: 'GET',
            dataType: 'json',
            beforeSend: function () {
                $('.loader-wrap').addClass('show-loading');
            },
            success: function (data) {
                $("#id").val(data.id);
                $("#tanggal").val(data.tanggal);
                $("#jam").val(data.jam);
                $("#keterangan").val(data.keterangan);
                $("#modalMonitoring").modal('show');
            },
            complete: function () {
                $('.loader-wrap').removeClass('show-loading');
            }
        });
    }

    function hapusData() {
        Swal.fire({
            title: 'Hapus data ini?',
            text: "Data yang sudah dihapus tidak dapat dikembalikan",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#e83e8c',
            cancelButtonColor: '#3085d6',
            cancelButtonColor: '#95aac9',
            confirmButtonText: 'Ya, hapus',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "{{base_url()}}page/deleteMonitoring",
                    data: {
                        id: $("#id").val()
                    },
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function () {
                        $('.loader-wrap').addClass('show-loading');
                    },
                    success: function (data) {
                        if (data.status) {
                            Swal.fire({
                            title: "Berhasil!",
                            text: data.message,
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#e83e8c',
                            confirmButtonText: 'OK!'
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                type: 'error',
                                title : "Ups!",
                                text : data.message,
                                confirmButtonColor: '#e83e8c',
                            });
                        }                                                    
                    },
                    complete: function () {
                        $('.loader-wrap').removeClass('show-loading');
                    }
                });
            }
        })
    }
</script>
{% endblock %}