{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<div class=" bg-pink m-b-30 bg-stars">
<div class="container ">
    <div class="row">
        <div class="col-md-12 m-auto text-white text-center p-t-40 p-b-90">
            <h1><span class="">Profile</h1>
        </div>
    </div>
</div>
</div>

<div class="container pull-up">
<form id="profileForm" class="col-md-12 m-t-20" action="{{base_url()}}home/saveProfile"
    method="post">
    <div class="row">
        <div class="col-lg-6 mx-auto  mt-2">
            <div class="card py-3 m-b-30">
                <div class="card-header">
                    <h5 class="m-b-0">
                        Data Pribadi
                    </h5>
                    <p class="m-b-0 text-muted">
                        Diisi dengan Identitas Rematri
                    </p>
                </div>
                <div class="card-body ">
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Nama Lengkap</label>
                            <input type="text" name="nama_lengkap" class="form-control" id="nama_lengkap"
                                placeholder="Contoh : Zaskia Amaelia" value="{{users.nama_lengkap}}">
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Tempat Lahir</label>
                            <input type="text" name="tempat_lahir" class="form-control" id="tempat_lahir"
                                placeholder="Contoh : Bandung" value="{{users.tempat_lahir}}">
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Tanggal Lahir</label>
                            <input type="text" class="js-datepicker form-control" name="tanggal_lahir" id="tanggal_lahir" placeholder="(bulan/tgl/tahun)" value="{{users.tanggal_lahir}}">
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Tinggi Badan</label>
                            <input type="text" name="tinggi_badan" class="form-control" id="tinggi_badan"
                                placeholder="Contoh : 180" value="{{users.tinggi_badan}}" onkeypress='validate(event)'>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Berat Badan</label>
                            <input type="text" name="berat_badan" class="form-control" id="berat_badan"
                                placeholder="Contoh : 70" value="{{users.berat_badan}}" onkeypress='validate(event)'>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">No Handphone</label>
                            <input type="text" name="nohp" class="form-control" id="nohp"
                                placeholder="Contoh : 08999442655" value="{{users.nohp}}" onkeypress='validate(event)'>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Agama</label>
                            <select class="form-control" name="ref_id_agama">
                                <option value="">Pilih Agama</option>
                                {% for item in agama %}
                                    <option {{item.id == users.ref_id_agama ? 'selected':''}} value="{{item.id}}">{{item.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Pendidikan</label>
                            <select class="form-control" name="ref_id_pendidikan">
                                <option value="">Pilih Jenjang</option>
                                {% for item in pendidikan %}
                                    <option {{item.id == users.ref_id_pendidikan ? 'selected':''}} value="{{item.id}}">{{item.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Alamat Lengkap</label>
                            <textarea class="form-control" rows="3" name="alamat" placeholder="Alamat...">{{users.alamat}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto  mt-2">
            <div class="card py-3 m-b-30">
                <div class="card-header">
                    <h5 class="m-b-0">
                        Data Orang Tua
                    </h5>
                    <p class="m-b-0 text-muted">
                        Diisi dengan Identitas Orang Tua kamu
                    </p>
                </div>
                <div class="card-body ">
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Nama Ayah</label>
                            <input type="text" name="nama_ayah" class="form-control" id="nama_ayah"
                                placeholder="Contoh : Budi" value="{{data_ayah.nama}}">
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Pendidikan Ayah</label>
                            <select class="form-control" name="ref_id_pendidikan_ayah">
                                <option value="">Pilih Jenjang</option>
                                {% for item in pendidikan %}
                                    <option {{item.id == data_ayah.ref_id_pendidikan ? 'selected':''}} value="{{item.id}}">{{item.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Penghasilan Ayah</label>
                            <select class="form-control" name="ref_id_penghasilan_ayah">
                                <option value="">Pilih Pengasilan</option>
                                {% for item in penghasilan %}
                                    <option {{item.id == data_ayah.ref_id_penghasilan ? 'selected':''}} value="{{item.id}}">{{item.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Nama Ibu</label>
                            <input type="text" name="nama_ibu" class="form-control" id="nama_ibu"
                                placeholder="Contoh : Rahma" value="{{data_ibu.nama}}">
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Pendidikan Ibu</label>
                            <select class="form-control" name="ref_id_pendidikan_ibu">
                                <option value="">Pilih Jenjang</option>
                                {% for item in pendidikan %}
                                    <option {{item.id == data_ibu.ref_id_pendidikan ? 'selected':''}} value="{{item.id}}">{{item.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 m-b-10">
                            <label for="inputEmail4">Penghasilan Ibu</label>
                            <select class="form-control" name="ref_id_penghasilan_ibu">
                                <option value="">Pilih Pengasilan</option>
                                {% for item in penghasilan %}
                                    <option {{item.id == data_ibu.ref_id_penghasilan ? 'selected':''}} value="{{item.id}}">{{item.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-pink btn-block btn-lg m-t-20">Simpan</button>
                </div>
            </div>        
        </div>
    </div>
</form>
</div>

{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#profileForm').validate({ // initialize the plugin
            errorClass: "is-invalid",
            errorElement: 'small',
            rules: {
                nama_lengkap: {
                    required: true,
                },
                tempat_lahir: {
                    required: true,
                },
                tanggal_lahir: {
                    required: true,
                },
                tinggi_badan: {
                    required: true,
                },
                berat_badan: {
                    required: true,
                },
                nohp: {
                    required: true,
                },
                ref_id_agama: {
                    required: true,
                },
                ref_id_pendidikan: {
                    required: true,
                },
                alamat: {
                    required: true,
                },
                nama_ayah: {
                    required: true,
                },
                ref_id_penghasilan_ayah: {
                    required: true,
                },
                ref_id_pendidikan_ayah: {
                    required: true,
                },
                nama_ibu: {
                    required: true,
                },
                ref_id_pendidikan_ibu: {
                    required: true,
                },
                ref_id_penghasilan_ibu: {
                    required: true,
                },
            },
            messages: {
                nama_lengkap: {
                    required: "Nama harus diisi ya..."
                },
                tempat_lahir: {
                    required: "Ini harus diisi ya kak..."
                },
                tanggal_lahir: {
                    required: "Ini harus diisi ya kak..."
                },
                tinggi_badan: {
                    required: "Ini harus diisi ya kak..."
                },
                berat_badan: {
                    required: "Ini harus diisi ya kak..."
                },
                nohp: {
                    required: "Ini harus diisi ya kak..."
                },
                ref_id_agama: {
                    required: "Ini harus diisi ya kak..."
                },
                ref_id_pendidikan: {
                    required: "Ini harus diisi ya kak..."
                },
                alamat: {
                    required: "Ini harus diisi ya kak..."
                },
                nama_ayah: {
                    required: "Ini harus diisi ya kak..."
                },
                ref_id_penghasilan_ayah: {
                    required: "Ini harus diisi ya kak..."
                },
                ref_id_pendidikan_ayah: {
                    required: "Ini harus diisi ya kak..."
                },
                nama_ibu: {
                    required: "Ini harus diisi ya kak..."
                },
                ref_id_pendidikan_ibu: {
                    required: "Ini harus diisi ya kak..."
                },
                ref_id_penghasilan_ibu: {
                    required: "Ini harus diisi ya kak..."
                },
            },
            submitHandler: function (form) { // for demo
                var dataForm = $("#profileForm").serialize();            
                $.ajax({
                    url: $('#profileForm').attr('action'),
                    type: "POST",
                    data: dataForm,
                    dataType: "json",
                    beforeSend: function() {
                        $('.loader-wrap').addClass('show-loading');
                    },
                    success: function (data) {
                        if (data.status) {
                                Swal.fire({
                                title: "Success!",
                                text: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#e83e8c',
                                confirmButtonText: 'OK!'
                                }).then((result) => {
                                    if (result.value) {
                                        location.href ='{{base_url()}}';
                                    }
                                })                            
                        } else {
                            Swal.fire({
                                type: 'error',
                                title : "Ups!",
                                text : data.message,
                                confirmButtonColor: '#e83e8c',
                            });
                        }
                    },
                    complete: function() {
                        $('.loader-wrap').removeClass('show-loading');
                    }
                });
            }
        });
    });

</script>
{% endblock %}
