{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<div class=" bg-pink m-b-30 bg-stars">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-auto text-white text-center p-t-40 p-b-90">
                <h3><span class="">Hasil cek HB kamu adalah <b>{{data.hasil_cek_hb}}</b> gr/dl</h3>
                <p class="opacity-80">Kamu termasuk kategori "Anemia {{data.nama}}"</p>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row">
        <div class="col-md-12 m-b-30">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="m-b-20 text-center">Asuhan Anemia {{data.nama}}</h2>
                    {{data.keterangan | raw}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}