{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}
<style>
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }

    .image-container {
        background-image: url('https://doktersehat.com/wp-content/uploads/2019/02/buah-yang-mengandung-vitamin-a-doktersehat.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 350px;
        height: 250px;
    }
</style>
<div class=" bg-pink m-b-30 bg-stars">
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-auto text-white text-center p-t-40 p-b-50">
                <h3><span class="">Hasil cek HB kamu adalah <b>{{data.hasil_cek_hb}}</b> gr/dl</h3>
                <p class="opacity-80">Kamu termasuk kategori "Anemia {{data.nama}}"</p>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row col-lg-8 mx-auto">
        <div class="col-md-12 m-t-10 m-b-20">
            <div class="card shadow-lg">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h2 class="card-text text-center">
                            Asuhan Anemia {{data.nama}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-8 mx-auto">
        <div class="col-md-12 col-sm-12 m-b-30">
            <div class="card shadow-lg">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h5 class="card-title">1. Pertahankan Pola Makan</h5>
                        <p class="card-text">
                            Mempertahankan pola makan itu penting
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-b-30">
            <div class="card shadow-lg">
                <div class="card-media">
                    <img class="card-img-top" src="{{base_url()}}template-admin/assets/img/analisis/vitamin-c.jpg"
                        alt="Card image cap">
                </div>            
                <div class="card-body">
                    <h5 class="card-title">2. Makan yang mengandung vitamin c</h5>
                    <p class="card-text">Makanlah makanan yang mengandung vitamin C yang tinggi seperti Jeruk, anggur,
                        strawberry dll.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-b-30">
            <div class="card shadow-lg">
                <div class="card-media">
                    <img class="card-img-top"
                        <img class="card-img-top" src="{{base_url()}}template-admin/assets/img/analisis/protein.jpg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">3. Makan yang mengandung protein</h5>
                    <p class="card-text">Perbanyaklah makan makanan yang mengandung protein yang tinggi seperti hati,
                        ikan, dan
                        daging sapi.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-b-30">
            <div class="card shadow-lg">
                <div class="card-media">
                    <img class="card-img-top"
                        <img class="card-img-top" src="{{base_url()}}template-admin/assets/img/analisis/tablet.jpg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">4. Minum tablet Fe 1x1 Selama menstruasi</h5>
                    <p class="card-text">Minumlah tablet fe 1x1 selama menstruasi</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-b-30">
            <div class="card shadow-lg">
                <div class="card-media">
                    <img class="card-img-top"
                        <img class="card-img-top" src="{{base_url()}}template-admin/assets/img/analisis/sayur-biji.jpg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">5. Makan sayur dan biji - bijian</h5>
                    <p class="card-text">Makanlah sayur dan biji - bijian</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 m-b-30">
            <div class="card shadow-lg m-b-20">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h5 class="card-title">6. Minum tablet darah (Fe)</h5>
                        <p class="card-text">
                                Minum tablet tambah darah (Fe) 1 kali dalam seminggu selama 11 minggu untuk mencegah terjadinya anemia                        </p>
                    </div>
                </div>
            </div>

            <div class="card shadow-lg m-b-20">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h5 class="card-title">7. Hindari mengonsumsi Fe secara bersamaan</h5>
                        <p class="card-text">
                            Hindari mengonsumsi Fe secara bersamaan dengan the, kopi, tablet kalsium (kalk), susu, dan obat sakit maagh.                        </p>
                    </div>
                </div>
            </div>

            <div class="card shadow-lg m-b-20">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h5 class="card-title">8. Dua jam sebelum atau sesudah mengkonsumsi obat Fe boleh mengkonsumsi yang dihindari di point 9</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}