{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}

<div class=" bg-olle m-b-30 bg-pink">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 m-auto text-white p-t-40 p-b-90">
                <h3><span class="">{{title}}</h3>
                <div class="row">
                    <nav aria-label="breadcrumb text-white">
                        <ol class="breadcrumb m-b-0 bg-transparent">
                            <li class="breadcrumb-item"><a href="{{base_url()}}">Beranda</a></li>
                            <li class="breadcrumb-item" aria-current="page">{{title}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row">
        <div class="col-lg-12 mx-auto ">
            <div class="card py-3 m-b-30">
                <div class="card-header">
                    <h5 class="m-b-0">
                        Data {{title}}
                    </h5>
                    <p class="m-b-0 text-muted">
                        Berikut ini merupakan data dari {{title}}
                    </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example">
                            <thead>
                                <tr>
                                    <th style="width:3%"><small>No</small></th>
                                    <th style="width:20%"><small>Nama Remaja</small></th>
                                    <th style="width:10%"><small>Identitas Remaja</small></th>
                                    <th style="width:10%"><small>Hasil Anamnesa</small></th>
                                    <th style="width:20%"><small>Hasil Lab</small></th>
                                    <th style="width:20%"><small>Asuhan Tindak Lanjut</small></th>
                                    <th style="width:20%"><small>Tanggal cek</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in getData %}
                                <tr>
                                    <td class="text-center"><small>{{loop.index}}</small></td>
                                    <td><small>{{item.nama_lengkap}}</small></td>
                                    <td><small onclick="lihatIdentitas('{{item.id}}')"
                                            style="cursor:pointer;color:0098ff">Lihat</small></td>
                                    <td><small onclick="hasilAnamnesa('{{item.cekId}}')" style="cursor:pointer;color:0098ff">Lihat</small></td>
                                    <td><small>{{item.hasil_cek_hb}} gr/dl</small></td>
                                    <td><small>Asuhan Anemia {{item.tindak_lanjut}}</small></td>
                                    <td><small>{{item.tanggal_cek | date("d-m-Y")}}</small></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalBiodataDetail" tabindex="-1" role="dialog" aria-labelledby="modalBiodataDetailTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>Identitas Pribadi</h5>
                <table style="width:100%">
                    <tr>
                        <td style="width:30%;padding-bottom:5px">Nama Lengkap</td>
                        <td style="width:3%">:</td>
                        <td style="width:45%" id="nama_lengkap"></td>
                    </tr>
                    <tr>
                        <td style="width:30%;padding-bottom:5px">Tempat, Tanggal Lahir</td>
                        <td style="width:3%">:</td>
                        <td style="width:45%" id="ttl"></td>
                    </tr>
                    <tr>
                        <td style="width:30%;padding-bottom:5px">Berat / Tinggi Badan</td>
                        <td style="width:3%">:</td>
                        <td style="width:45%" id="btb" ></td>
                    </tr>
                    <tr>
                        <td style="width:30%;padding-bottom:5px">Agama</td>
                        <td style="width:3%">:</td>
                        <td style="width:45%" id="agama"></td>
                    </tr>
                    <tr>
                        <td style="width:30%;padding-bottom:5px">Pendidikan</td>
                        <td style="width:3%">:</td>
                        <td style="width:45%" id="pendidikan" ></td>
                    </tr>
                </table>
                <h5 class="m-t-20">Identitas Orang Tua</h5>
                <table style="width:100%" id="identitas_ortu">
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHasilAnamnesa" tabindex="-1" role="dialog" aria-labelledby="modalBiodataDetailTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Hasil Anamnesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><small>No</small></td>
                            <td><small>Pertanyaan</small></td>
                            <td><small>Jawaban</small></td>
                        </tr>
                    </thead>
                    <tbody id="tbody_anamnesa">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script>
    function lihatIdentitas(id) {
        var current = 0;
        $.ajax({
            url         : "{{base_url()}}general/userDetail",
            data        : {
                id : id
            },
            type        : 'GET',
            dataType    : 'json',
            beforeSend: function () {
                $('.loader-wrap').addClass('show-loading');
            },
            success: function(data){
                $("#nama_lengkap").text(data.identitas_pribadi.nama_lengkap);
                $("#ttl").text(data.identitas_pribadi.tempat_lahir+", "+data.identitas_pribadi.tanggal_lahir);
                $("#btb").text(data.identitas_pribadi.berat_badan+" / "+data.identitas_pribadi.tinggi_badan);
                $("#agama").text(data.identitas_pribadi.agama);
                $("#pendidikan").text(data.identitas_pribadi.pendidikan);
                $("#identitas_ortu tr").remove();
                $.each(data.identitas_ortu, function(i, item) {
                    $('#identitas_ortu').append('<tr>'+
                    '<td style="width:30%;padding-bottom:5px">Nama '+data.identitas_ortu[i].keterangan+'</td>'+
                    '<td style="width:3%;padding-bottom:5px">:</td>'+
                    '<td style="width:50%;padding-bottom:5px">'+data.identitas_ortu[i].nama+'</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td style="width:30%;padding-bottom:5px">Penghasilan '+data.identitas_ortu[i].keterangan+'</td>'+
                    '<td style="width:3%;padding-bottom:5px">:</td>'+
                    '<td style="width:50%;padding-bottom:5px">'+data.identitas_ortu[i].penghasilan+'</td>'+
                    '</tr>'+                    
                    '<tr>'+
                    '<td style="width:30%;padding-bottom:5px">Pendidikan '+data.identitas_ortu[i].keterangan+'</td>'+
                    '<td style="width:3%;padding-bottom:5px">:</td>'+
                    '<td style="width:50%;padding-bottom:5px">'+data.identitas_ortu[i].pendidikan+'</td>'+
                    '</tr>'                    
                    );
                });

                $("#modalBiodataDetail").modal('show');
            },
            complete: function () {
                $('.loader-wrap').removeClass('show-loading');
            }
        });
    }

    function hasilAnamnesa(id) {
        var current = 0;
        $.ajax({
            url         : "{{base_url()}}general/hasilAnamnesa",
            data        : {
                id : id
            },
            type        : 'GET',
            dataType    : 'json',
            beforeSend: function () {
                $('.loader-wrap').addClass('show-loading');
            },
            success: function(data){
                $("#tbody_anamnesa tr").remove();
                $.each(data, function(i, item) {
                    $('#tbody_anamnesa').append('<tr>'+
                    '<td><small>'+(++current)+'</small></td>'+
                    '<td><small>'+data[i].pertanyaan+'</small></td>'+
                    '<td><small>'+data[i].jawaban+'</small></td>'+
                    '</tr>'                    
                    );
                });

                $("#modalHasilAnamnesa").modal('show');
            },
            complete: function () {
                $('.loader-wrap').removeClass('show-loading');
            }
        });
        
    }
</script>
{% endblock %}