{% extends "skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block main_content %}

<div class=" bg-pink m-b-30 bg-stars">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 m-auto text-center text-white p-t-40 p-b-90">
                <h3><span class="">{{title}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="row">
        <div class="col-lg-12 mx-auto ">
            <div class="card py-3 m-b-30">
                <div class="text-center m-t-20 card-body {{getData | length == 0 ? '':'d-none'}}">
                    <img class="p-b-20 n-l-10 p-r-10" style="width:250px" src="{{base_url()}}template-admin/assets/img/nodata.svg">
                    <h5 class="text-center m-t-20">kamu belum mempunyai data riwayat tanda gejala</h5>                                                
                </div>                

                <div class="card-body {{getData | length > 0 ? '':'d-none'}}">
                    <div class="table-responsive">
                        <table class="table table-hover text-center" id="example">
                            <thead>
                                <tr>
                                    <th style="width:3%"><small>No</small></th>
                                    <th style="width:25%"><small>Hasil Cek HB</small></th>
                                    <th style="width:25%"><small>Kategori Anemia</small></th>
                                    <th style="width:25%"><small>Tanggal Cek</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in getData %}
                                <tr>
                                    <td><small>{{loop.index}}</small></td>
                                    <td><small>{{item.hasil_cek_hb}} gr/dl</small></td>
                                    <td><a href="{{base_url()}}home/result/{{item.token}}"><small style="color:#8290e4">Anemia {{item.nama}}</small></a></td>
                                    <td><small>{{item.tanggal_cek | date("d F Y")}}</small></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}